# Environment variables
#
# * PYTEST_ADDOPTS is used to filter test runs. The default value is "-m 'not slowtest'",
#   which skips the slow running tests.
# * SKIP_EXAMPLES, if non-empty, can be used to skip the examples job.

Python 3 POCL:
  script: |
    export PYOPENCL_TEST="portable:cpu"
    export PYTEST_ADDOPTS=${PYTEST_ADDOPTS:-"-m 'not slowtest'"}
    export EXTRA_INSTALL="Cython pybind11 numpy scipy mako"
    curl -L -O https://tiker.net/ci-support-v0
    . ci-support-v0
    build_py_project_in_venv
    test_py_project
  tags:
  - python3
  - pocl
  - large-node
  except:
  - tags
  artifacts:
    reports:
      junit: test/pytest.xml

Python 3 Intel:
  # Sample failure: https://gitlab.tiker.net/inducer/arraycontext/-/jobs/536080
  allow_failure: true

  script: |
    source /opt/enable-intel-cl.sh
    export PYOPENCL_TEST="intel(r):pu"
    export PYTEST_ADDOPTS=${PYTEST_ADDOPTS:-"-m 'not slowtest'"}
    export EXTRA_INSTALL="Cython pybind11 numpy scipy mako"
    curl -L -O https://tiker.net/ci-support-v0
    . ci-support-v0
    build_py_project_in_venv
    test_py_project
  tags:
  - python3
  - intel-cl-cpu
  - large-node
  except:
  - tags
  artifacts:
    reports:
      junit: test/pytest.xml

Python 3 POCL Examples:
  script: |
    test -n "$SKIP_EXAMPLES" && exit
    export PYOPENCL_TEST=portable:cpu
    export EXTRA_INSTALL="Cython pybind11 numpy scipy mako matplotlib pyvisfile"
    curl -L -O https://tiker.net/ci-support-v0
    . ci-support-v0
    build_py_project_in_venv
    run_examples
  tags:
  - python3
  - pocl
  - large-node
  except:
  - tags

Python 3 Conda:
  script: |
    export SUMPY_FORCE_SYMBOLIC_BACKEND=symengine
    export PYTEST_ADDOPTS=${PYTEST_ADDOPTS:-"-m 'not slowtest'"}
    export PYOPENCL_TEST=portable:cpu
    curl -L -O https://tiker.net/ci-support-v0
    . ci-support-v0
    build_py_project_in_conda_env
    test_py_project
  tags:
  - linux
  - large-node
  except:
  - tags
  artifacts:
    reports:
      junit: test/pytest.xml

Documentation:
  script: |
    export EXTRA_INSTALL="Cython pybind11 numpy scipy mako"
    curl -L -O https://tiker.net/ci-support-v0
    . ci-support-v0
    build_py_project
    build_docs
    maybe_upload_docs
  tags:
  - python3

Ruff:
  script: |
    pipx install ruff
    ruff check
  tags:
  - docker-runner
  except:
  - tags
