build
_build
.sw[po]
.*.sw[po]
*~
*.pyc
*.pyo
*.egg-info
MANIFEST
dist
setuptools*egg
setuptools.pth
distribute*egg
distribute*tar.gz
a.out
hk
test/*.pdf
examples/*.pdf

*.dot

*.vtu
*.vts

.cache

tags

pytential/_git_rev.py
.pytest_cache

*.so
pytential/qbx/target_specific/impl.c
pytential/linalg/*.c

mprofile_*.dat
memray-*.bin
memray-*.html
