git+https://gitlab.tiker.net/inducer/boxtree@compress-list-3-new
git+https://github.com/inducer/pymbolic
git+https://github.com/inducer/loopy
git+https://gitlab.tiker.net/inducer/sumpy@compress-list-3
git+https://github.com/inducer/meshmode
