git+https://gitlab.tiker.net/inducer/boxtree
git+https://github.com/inducer/pymbolic
git+https://github.com/inducer/loopy
git+https://gitlab.tiker.net/fikl2/sumpy@p2p-cleanup
git+https://github.com/inducer/meshmode
