include test/*.step
include examples/geometries/*step

include doc/*.sh
include doc/*.rst
include doc/Makefile

include pytential/qbx/target_specific/*.c
include pytential/qbx/target_specific/*.h
include pytential/qbx/target_specific/*.pyx

exclude pytential/_git_rev.py
