numpy
git+git://github.com/inducer/pytools#egg=pytools
git+git://github.com/inducer/pymbolic#egg=pymbolic
sympy==1.1.1
git+https://github.com/inducer/modepy#egg=modepy
git+https://github.com/inducer/pyopencl#egg=pyopencl
git+https://github.com/inducer/islpy#egg=islpy
git+https://github.com/inducer/loopy#egg=loopy
git+https://github.com/inducer/boxtree#egg=boxtree
git+https://github.com/inducer/meshmode#egg=meshmode
git+https://github.com/inducer/sumpy#egg=sumpy
git+https://github.com/inducer/pyfmmlib#egg=pyfmmlib
