numpy
git+git://github.com/inducer/pymbolic
sympy==1.1.1
git+https://github.com/inducer/modepy
git+https://github.com/inducer/pyopencl
git+https://github.com/inducer/islpy
git+https://github.com/inducer/loopy
git+https://gitlab.tiker.net/inducer/boxtree@opencl-counter
git+https://github.com/inducer/meshmode
git+https://gitlab.tiker.net/inducer/sumpy
git+https://gitlab.tiker.net/inducer/pyfmmlib
