numpy
git+git://github.com/sympy/sympy
git+git://github.com/inducer/modepy
git+git://github.com/pyopencl/pyopencl
git+git://github.com/inducer/boxtree
git+git://github.com/inducer/meshmode
git+git://github.com/inducer/loopy
git+git://github.com/inducer/sumpy
