name: CI
on:
    push:
        branches:
        - main
    pull_request:
    schedule:
        - cron:  '17 3 * * 0'

jobs:
    flake8:
        name: Flake8
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v3
        -
            uses: actions/setup-python@v4
            with:
                # matches compat target in setup.py
                python-version: '3.8'
        -   name: "Main Script"
            run: |
                curl -L -O https://tiker.net/ci-support-v0
                . ci-support-v0
                build_py_project_in_conda_env
                install_and_run_flake8 "$(get_proj_name)" examples/*.py test/*.py

    pylint:
        name: Pylint
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v3
        -   name: "Main Script"
            run: |
                export EXTRA_INSTALL="pyvisfile matplotlib"

                curl -L -O https://tiker.net/ci-support-v0
                . ci-support-v0
                build_py_project_in_conda_env
                run_pylint "$(get_proj_name)" examples/*.py test/*.py

    mypy:
        name: Mypy
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v3
        -
            uses: actions/setup-python@v4
            with:
                python-version: '3.x'
        -   name: "Main Script"
            run: |
                export EXTRA_INSTALL="mypy pytest"

                curl -L -O https://tiker.net/ci-support-v0
                . ./ci-support-v0
                build_py_project_in_conda_env
                ./run-mypy.sh

    docs:
        name: Documentation
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v3
        -
            uses: actions/setup-python@v4
            with:
                python-version: '3.x'
        -   name: "Main Script"
            run: |
                curl -L -O https://tiker.net/ci-support-v0
                . ci-support-v0
                build_py_project_in_conda_env
                build_docs

    pytest:
        name: Pytest Linux
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v3
        -   name: "Main Script"
            run: |
                echo "- memray" >> .test-conda-env.yml

                export SUMPY_FORCE_SYMBOLIC_BACKEND=sympy
                export PYTEST_ADDOPTS=${PYTEST_ADDOPTS:-"-m 'not slowtest' --memray --most-allocations=10"}
                export EXTRA_INSTALL="pytest-memray"

                curl -L -O https://tiker.net/ci-support-v0
                . ci-support-v0
                build_py_project_in_conda_env
                test_py_project

    pytest_mac:
        name: Pytest Mac
        runs-on: macos-latest
        steps:
        -   uses: actions/checkout@v3
        -   name: "Main Script"
            run: |
                grep -v symengine .test-conda-env-py3.yml > .test-conda-env.yml
                echo "- compilers" >> .test-conda-env.yml
                echo "- llvm-openmp" >> .test-conda-env.yml

                export LC_ALL=en_US.UTF-8
                export LANG=en_US.UTF-8
                export CONDA_ENVIRONMENT=.test-conda-env.yml
                export PYTEST_ADDOPTS=${PYTEST_ADDOPTS:-"-m 'not slowtest'"}

                curl -L -O https://tiker.net/ci-support-v0
                . ci-support-v0
                build_py_project_in_conda_env
                test_py_project

    pytest_symengine:
        name: Pytest with SymEngine
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v3
        -   name: "Main Script"
            run: |
                export SUMPY_FORCE_SYMBOLIC_BACKEND=symengine
                export PYTEST_ADDOPTS=${PYTEST_ADDOPTS:-"-m 'not slowtest'"}

                curl -L -O https://tiker.net/ci-support-v0
                . ci-support-v0
                build_py_project_in_conda_env
                test_py_project

    examples:
        name: Examples
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v3
        -   name: "Main Script"
            run: |
                export EXTRA_INSTALL="pyvisfile matplotlib"

                curl -L -O https://tiker.net/ci-support-v0
                . ci-support-v0
                build_py_project_in_conda_env
                run_examples

# vim: sw=4
